:root{
    --softRed: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);

    --darkBrown: hsl(25, 47%, 15%);
    --mediumBrown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --veryPaleOrange: hsl(33, 100%, 98%);
    --white: hsl(0, 100%, 100%);
}


body{
    background-color: var(--cream);
}

main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 91%;
    margin: 0px 0px 0px 0px;
}

.card{
    box-sizing: border-box;
    border-radius: 10px;
    padding-inline: 20px;

}

#balance-section{
    background-color: var(--softRed);
    height: 96px;
    font-family: 'DM Sans', sans-serif;
    color: var(--cream);
    padding-block: 10px;

    background-image: url("./images/logo.svg");
    background-repeat: no-repeat;
    background-size: 62px;
    background-position: right 24px center;
}

#balance-section h1{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0px;
}

#balance-amount{
    font-weight: 700;
    font-size: 24px;
    margin-top: 3px;
}

#spending-section{
    margin-top: 15px;
    height: 422px;
    background-color: var(--white);
    font-family: 'DM Sans', sans-serif;
    padding-block: 8px;
    position: relative;
}

#spending-section h1{
    font-size: 24px;
    color: var(--darkBrown);
}

#bar-chart{
    height: 212px;
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    margin: auto -5px auto -5px;
}

.chart-column{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
}

.bar{
    background-color: var(--softRed);
    height: 50px; /*placeholder for when not loaded*/
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
}


.day-label{
    text-align: center;
    font-weight: 400;
    color: var(--mediumBrown);
    font-size: 12px;
    margin-top: 10px;
}

.amount-display{
    text-align: center;
    background-color: var(--darkBrown);
    height: 33px;
    margin-bottom: 8px;
    padding-top: 6px;
    border-radius: 5px;
}

.amount-display label{
    color: var(--cream);
    font-weight: 700;
    font-size: 18px;

}




hr{
    margin-top: 25px;
    border: 1px solid lightgray; /*temporary - change to custom prop*/
}

#spending-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#month-total-section h2{
    font-size: 15px;
    font-weight: 400;
    color: var(--mediumBrown);
    margin-top: 15px;
    margin-bottom: 0px;
}

#month-total{
    font-weight: 700;
    font-size: 30px;
    color: var(--darkBrown);
    margin-top: 5px;
    margin-bottom: 2px;
}

#last-month-diff-section{
    justify-self: flex-end;
    text-align: right;

}

#last-month-diff{
    color: var(--darkBrown);;
    font-weight: 700;
    margin-top: 37px;
    margin-bottom: 0px;
    font-size: 16px;

}

#last-month-diff-section label{
    color: var(--mediumBrown);
    margin-top: 0px;
    font-size: 16px;

}


footer{
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
}




/*Desktop Changes:*/

@media only screen and (min-width: 600px){
    main{
        width: 540px;
    }  


    .card{
        border-radius: 20px;
        padding-inline: 33px;
    }

    #balance-section{
        height: 125px;
        padding-block: 15px;
    }


    #balance-section h1{
        font-size: 18px;
    }

    #balance-amount{
        font-size: 32px;
        margin-top: 6px;
    }



    #spending-section{
        height: 511px;
        margin-top: 25px;
        padding-inline: 40px;
    }

    #spending-section h1{
        font-size: 32px;
    }

    #bar-chart{
        height: 224px;
        margin: auto -9px auto -9px;
    }

    .bar{
        margin-right: 9px;
        margin-left: 9px;
    }

    .day-label{
        font-size: 15px;
        margin-top: 8px;
    }


    hr{
        margin-top: 34px;
    }


    #month-total-section h2{
        font-size: 18.5px;
        margin-top: 23px;
    }

    #month-total{
        font-size: 48px;
        margin-top: 0px;
    }

    #last-month-diff{
        font-size: 18px;
        margin-top: 52px;
    }

    #last-month-diff-section label{
        font-size: 18px;
    }


}
